<?xml version="1.0"?>
<config>
	<modules>
		<Bidding_Store>
			<version>1.0.0</version>
		</Bidding_Store>
	</modules>
	<frontend>
		<routers>
			<points>
				<use>standard</use>
				<args>
					<module>Bidding_Store</module>
					<frontName>bidding</frontName>
				</args>
			</points>
		</routers>
		<layout>
			<updates>
				<points>
					<file>bidding/store.xml</file>
				</points>
			</updates>
		</layout>
	</frontend>
</config>