<?xml version="1.0"?>
<config>
	<modules>
		<Bidding_Store>
			<version>1.0.0</version>
		</Bidding_Store>
	</modules>
	<frontend>
		<routers>
			<store>
				<use>standard</use>
				<args>
					<module>Bidding_Store</module>
					<frontName>bidding</frontName>
				</args>
			</store>
		</routers>
		<layout>
			<updates>
				<store>
					<file>bidding/store.xml</file>
				</store>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<store>
				<class>Bidding_Store_Block</class>
			</store>
		</blocks>
		<models>
			<store>
				<class>Bidding_Store_Model</class>
			</store>
		</models>
	</global>
	<crontab>
		<jobs>
			<winner_check_all>
				<schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
				<run><model>store/cron::checkWinner</model></run>
			</winner_check_all>
		</jobs>
	</crontab>
</config>