<?xml version="1.0"?>
<config>
    <modules>
        <Bidding_CardOnly>
            <version>0.1.0</version>
        </Bidding_CardOnly>
    </modules>
    <global>
        <events>
            <payment_method_is_active>
                <observers>
                    <card_only>
                        <type>singleton</type>
                        <class>cardonly/observer</class>
                        <method>cardOnly</method>
                    </card_only>
                </observers>
            </payment_method_is_active>
            <checkout_cart_product_add_after>
                <observers>
                    <win_buy>
                        <class>cardonly/observer</class>
                        <method>logCartAdd</method>
                    </win_buy>
                </observers>
            </checkout_cart_product_add_after>
        </events> 
        <models>
            <cardonly>
                <class>Bidding_CardOnly_Model</class>
                <resourceModel>cardonly_mysql4</resourceModel>
            </cardonly>
        </models>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <card_only/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
</config>