<?xml version="1.0"?>
<config>
    <modules>
        <Shopgo_Zoom>
            <version>0.0.1</version>
        </Shopgo_Zoom>
    </modules>
    <frontend>
        <routers>
            <zoom>
                <use>standard</use>
                <args>
                    <module>Shopgo_Zoom</module>
                    <frontName>zoom</frontName>
                </args>
            </zoom>
        </routers>
        <layout>
            <updates>
                <zoom>
                    <file>shopgo/zoom.xml</file>
                </zoom>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<zoom>
				<use>admin</use>
				<args>
					<module>Shopgo_Zoom</module>
					<frontName>zoom</frontName>
				</args>
			</zoom>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<zoom>
					<file>shopgo/zoom.xml</file>
				</zoom>
			</updates>
		</layout>
		<!-- <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <zoom>
                                            <title>Visitorstat</title>
                                        </zoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <zoom translate="title" module="adminhtml">
                <title>Products Slider</title>
                <sort_order>100</sort_order>
                <children>
                    <zoommenu>
                        <title>Manage Sliders</title>
                        <action>adminhtml_zoom/index/index</action>
                    </zoommenu>
                </children>
            </zoom>
        </menu> -->
    </adminhtml>   
    <global>
        <models>
            <zoom>
                <class>Shopgo_Zoom_Model</class>
                <resourceModel>zoom_mysql4</resourceModel>
            </zoom>
            <zoom_mysql4>
                <class>Shopgo_Zoom_Model_Mysql4</class>
                <entities>
                    <zoom>
                        <table>zoom</table>
                    </zoom>
                </entities>
            </zoom_mysql4>
            <!-- <customer>
		        <rewrite>
		            <attribute>Shopgo_Zoom_Model_Address_Attribute</attribute>
		        </rewrite>
	        </customer> -->
        </models>
        <resources>
            <zoom_setup>
                <setup>
                    <module>Shopgo_Zoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zoom_setup>
            <zoom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zoom_write>
            <zoom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zoom_read>
        </resources>
        <blocks>
            <zoom>
                <class>Shopgo_Zoom_Block</class>
            </zoom>
        </blocks>
        <helpers>
            <zoom>
                <class>Shopgo_Zoom_Helper</class>
            </zoom>
        </helpers>
    </global>
		<default>
			<zoom>
				<settings>
					
				</settings>
			</zoom>
		</default>
</config>