<?xml version="1.0"?>
<config>
	<modules>
		<Bidding_Points>
			<version>1.0.12</version>
		</Bidding_Points>
	</modules>
	<frontend>
		<routers>
			<points>
				<use>standard</use>
				<args>
					<module>Bidding_Points</module>
					<frontName>points</frontName>
				</args>
			</points>
		</routers>
		<layout>
			<updates>
				<points>
					<file>bidding/points.xml</file>
				</points>
			</updates>
		</layout>
	<events>
			<gate2play_order_success>
				<observers>
					<points_order_observer>
						<type>singleton</type>
						<class>Bidding_Points_Model_Observer</class>
						<method>setPoints</method></points_order_observer>
				</observers>
			</gate2play_order_success>
			<checkout_onepage_controller_success_action>
				<observers>
					<points_win_pro_observer>
						<type>singleton</type>
						<class>Bidding_Points_Model_Observer</class>
						<method>setBought</method>
					</points_win_pro_observer>
				</observers>
			</checkout_onepage_controller_success_action>
	</events>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<bidding_points before="Mage_Adminhtml">Bidding_Points_Adminhtml</bidding_points>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<blocks>
			<points>
				<class>Bidding_Points_Block</class>
			</points>
		</blocks>
		<models>
			<points>
				<class>Bidding_Points_Model</class>
				<resourceModel>points_mysql4</resourceModel>
			</points>
			<points_mysql4>
				<class>Bidding_Points_Model_Mysql4</class>
				<entities>
					<points>
						<table>customer_points_entity</table>
					</points>
					<history>
						<table>customer_points_history</table>
					</history>
					<bid>
						<table>customer_bid_history</table>
					</bid>
					<winner>
						<table>customer_winnder_history</table>
					</winner>
					<log>
						<table>customer_online_log</table>
					</log>
				</entities>
			</points_mysql4>
		</models>
		<resources>
			<points_setup>
				<setup>
					<module>Bidding_Points</module>
					<class>Bidding_Points_Model_Resource_Setup</class>
				</setup>
			</points_setup>
			<points_write>
				<connection>
                    <use>core_write</use>
            	</connection>
			</points_write>
			<points_read>
				<connection>
                    <use>core_read</use>
                </connection>
			</points_read>
		</resources>
		<helpers>
			<points>
				<class>Bidding_Points_Helper</class>
			</points>
		</helpers>
	</global>
</config>